gateway/src/main/resources/wsdl/transactions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://aegis.com/banking"
           elementFormDefault="qualified">

    <xs:element name="PostTransferRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PostTransferResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>